<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Graph</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}"> <!-- CSS 파일 연결 -->
</head>
<body>
<header>
    <!-- 새로고침 아이콘 -->
    <div id="refresh-icon" onclick="refreshPage()">&#x21bb;</div>
    <!-- 메뉴 버튼과 메뉴 항목 -->
    <div id="menu">
    <button onclick="toggleMenu()">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6hlW3yb43CG_IoTpC4KEJFqUfumXpmhppag&s" alt="Menu Icon" style="width: 35px; height: 35px;">
    </button>
    <div id="menu-items" class="hidden">
        <a href="{% url 'mypage' %}" id="mypage">마이페이지</a>
        <form id="logout-form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="logout">로그아웃</button>
        </form>
    </div>
</div>
</header>
<main>
    <div class="content">
        <!-- 네트워크 그래프를 표시할 div -->
        <div id="network"></div>
        <div id="side-panel">
            <h2 id="panel-title">Node Title</h2>
            <p id="panel-description">Node description will be shown here.</p>
            <button id="save-button">저장</button>
        </div>
    </div>
    <div class="search-container">
        <ul id="suggestions"></ul>
        <input type="text" id="search-bar" placeholder="Search...">
    </div>
</main>

<!-- JavaScript 파일 연결 -->
<script type="text/javascript" src="https://unpkg.com/vis-network@9.1.2/dist/vis-network.min.js"></script>
<script src="{% static 'main.js' %}"></script>
</body>
</html>
